ColumnLimit: 150
NamespaceIndentation: All
BreakBeforeBraces: Stroustrup
BinPackArguments: false
BinPackParameters: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true # Replace with "PackConstructorInitializers: Never", when switching to clang-format 14.